@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

p{
    text-align: justify;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #34363350; /*quanto para o lado / quanto para baixo / quanto vai espalhar / opacidade e cor*/
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #904C77;
    text-align: center;
    text-shadow: 1px 1px 2px #34363379;
}
h2{
    color: #5CC8FF;
}
body{
    background-image: linear-gradient(to right, #DEC1FF, #D3BDB0);
}