@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url(fonts/idroid.otf) format('opentype');
}

body{
    background-color: lightgreen;
}

header{
    background-image: linear-gradient(to top, rgb(0, 99, 44), rgb(22, 204, 104));
    padding-top: 20px;
}

header > h1{
    font: normal 2em Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
header > p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
nav{
    background-color: rgb(0, 99, 44);
    padding: 3px;
}
nav > a{
    color: white;
    padding: 2px;
    font: bold 16px Arial, Helvetica, sans-serif;
    text-decoration: none;
}
nav > a:hover{
    background-color: rgb(1, 85, 39)
}

main{
    background-color: white;
    padding: 1em;
    margin: 5em;
    border-radius: 10px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.301);
}

section#principal > h2{
    color: rgb(1, 102, 1);
    font: normal 30px "idroid", sans-serif;
}
section > p{
    font: normal 14px Arial, Helvetica, sans-serif;
    padding: 5px;
}

section.sub > h2{
    color: rgb(1, 102, 1);
    background-color: rgba(144, 238, 144, 0.37);
    font: normal 25px "idroid", sans-serif;
}

.center{
    display: block;
    margin: auto;
}

section#outrosLinks{
    background-color: rgba(144, 238, 144, 0.486);
    border-radius: 5px;
}

section#outrosLinks > h3{
    color: white;
    background-color: rgb(66, 158, 97);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px 5px 0px 0px;
    padding: 3px;
}

footer{
    color: white;
    background-color: darkgreen;
    text-align: center;
    padding: 2px;
}